<html ng-app="HMcKye">

<head>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
	<link rel="stylesheet" href="style/style.css">
	<title>Heidi McKye</title>
</head>

<body ng-controller="MainCtrl">

	<video src="../vid/large.m4v" autoplay mute loop></video>

	<div id="main_div" class="row">

		<div class="col-lg-2"></div>

		<div class="col-lg-8">

			<div class="row">
				<div class="col-lg-12 header">
					<h1>Heidi McKye</h1>
					<p class="lead text-muted no-shadow">Writer, Artist, Et Cetera</p>

				</div>

				<div class="col-lg-12">
					<div class="row">
						<div class="col-lg-2">
							<div class="nav nav-pill left_nav">

								<li><a href="" ng-click="navClick('/')">Facts</a></li>
								<li><a href="" ng-click="navClick('about')">Bio</a></li>
								<li><a href="https://sites.google.com/site/hmckye/">Art</a></li>
								<li><a href="http://yeahnoforsure.tumblr.com/" target="self">Blog</a></li>
								
							</div>
						</div>

						<div class="col-lg-10" ng-view></div>
					</div>


					<div class="row">
						<div class="col-lg-2"></div>
						<div id="footer">
							<address>
							  <strong>Heidi McKye</strong><br>
							  5815 N Delaware Ave.<br>
							  Portland, OR 97217<br>
							  <abbr title="Phone">P:</abbr> 928.308.1807
							</address>
						</div>
					</div>

				</div>

			</div>

		</div>

		<div class="col-lg-2"></div>

	</div>

	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script src="app.js"></script>
</body>

</html>