<div class="main_content">

	<div class="content_container"><h3>Statement of Facts</h3></div>
	<p>In creating art I seek to take what is simple or ordinary—an object or sentence or image—and underline the extravagant beauty that exists inside it. It settles down on your head and fills in all the cracks with being.</p>

	<p>You know this feeling too. </p>

	<p>Any time that you have come to really like something, as a whole. Just liking it with all of you. And you just cant explain why. It fits like a favorite hat.</p>

	<p>Not a thing you would change about it.</p>

	<p>This is what I call art space. Things get very quiet inside my body, as if preparing to swallow it all. This is rare. Maybe only in art space and nature do things get very quiet inside. In all other places my mind races through the ordinary.</p>

	<p>The rush of getting things done does not allow for this.</p>

	<p>Life can be so concentrated on—it’s meaning, or lack thereof. Its complexity or simply the emotional weight of moving through daily tasks. There isn’t time to stop and investigate the inside of a thing, or its tiny moving pieces, or how beautifully they fit together.</p>


</div>